{{>navbar }}

<div class="container single-painting">
    <div>
        <a class="back" href="/paintings/{{cat}}">← Return to the collection</a>
        <figure>
            <img class="painting" src="{{painting.current.image.secure_url}}" data-height="{{painting.current.image.height}}"
                data-width="{{painting.current.image.width}}" />
            <figcaption>
                <span class="title">{{painting.current.title}}</span>
                <span> | </span>
                <span class="dimensions">{{painting.current.dimensions}}</span>
                <span> | </span>
                <span class="medium">{{painting.current.medium}}</span>
                {{#if painting.current.sold}}
                <span> | </span>
                <span class="sold">SOLD</span>
                {{/if}}
            </figcaption>
        </figure>
        <nav>
            {{#if painting.previous._id}}
            <a href="/paintings/painting/{{cat}}/{{painting.previous._id}}">←</a>
            {{/if}}
            <span>{{painting.position}} of {{painting.total}}</span>
            {{#if painting.following._id}}
            <a href="/paintings/painting/{{cat}}/{{painting.following._id}}">→</a>
            {{/if}}
        </nav>
    </div>
</div>

<script>
    (function () {
        const img = document.querySelector('.painting');
        const nativeHeight = img.dataset.height;
        const nativeWidth = img.dataset.width;
        const startingWidth = img.width;
        const aspectRatio = (nativeWidth / nativeHeight).toFixed(2);
        const container = document.querySelector('.single-painting');

        const adjustSize = () => {
            console.log("adjusting size...");
            const imgWidth = img.width;
            const imgHeight = img.height;
            const currentAspectRatio = (imgWidth / imgHeight).toFixed(2);  
            console.log(currentAspectRatio, aspectRatio, imgWidth, startingWidth);
            if (currentAspectRatio !== aspectRatio && imgWidth <= startingWidth) {
                img.style.height = 'auto';
            }    
        }
        adjustSize();
        window.addEventListener("resize", adjustSize);
        img.addEventListener("load", adjustSize);
    })()


</script>