{{>navbar }}

<div class="container paintings">
  {{#each paintings}}
  <div class="column">
    {{#each this}}
    <a href="./painting/{{grouping.key}}/{{id}}">
      <figure>
        <img src={{image.secure_url}} alt={{title}} />
        <figcaption>
          <div class="title">{{this.title}}</div>
          <div class="medium">{{this.medium}}</div>
          <div class="dimensions">{{this.dimensions}}</div>          
        </figcaption>
      </figure>
    </a>
    {{/each}}
  </div>
  {{/each}}
</div>