 {{>navbar }}

<div class="container single-painting">
    <div>
        <figure>
            <img src="{{painting.current.image.secure_url}}" />
            <figcaption>
                <span class="title">{{painting.current.title}}</span>
                <span> | </span>
                <span class="dimensions">{{painting.current.dimensions}}</span>
                <span> | </span>
                <span class="medium">{{painting.current.medium}}</span>
                {{#if painting.current.sold}}
                <span> | </span>
                <span class="sold">SOLD</span>
                {{/if}}
            </figcaption>
        </figure>
        <nav>
            {{#if painting.previous._id}}
            <a href="/paintings/painting/{{cat}}/{{painting.previous._id}}">←</a>
            {{/if}}
            <span>{{painting.position}} of {{painting.total}}</span>
            {{#if painting.following._id}}
            <a href="/paintings/painting/{{cat}}/{{painting.following._id}}">→</a>
            {{/if}}
        </nav>
    </div>
</div>